<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="container">
      <header id="site-header">
        <%= render :partial => "/shared/header" -%>
      </header>
      <div class="clearboth"></div>

		<div id="mainwrap">
		  <%= render :partial => "/shared/menu" %>

		  <section id='main-content'>
			<%= yield %>
		  </section>
		  <div id="footer-clear"></div>
		</div>
    </div>
    <footer>
        <%= render :partial => "/shared/footer" -%>
    </footer>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
